body.danger {
    background-color: red;
}
.container {
    border: 1px dotted black;
    width: 400px;
    padding: 18px;
    font-size: 18px;
}

.container h2 {
    margin-top: 0;
    margin-bottom: 36px;
}

.container .form-input {
    font-size: 18px;
    width: 100%;
}

.container .form-input-container {
    display: flex;
    gap: 18px;
}

.container .form-container {
    display: none;
    flex-direction: column;
    gap: 24px;
}

.container .form-container.show {
    display: flex;
}

.actions {
    justify-content: center;
}

.btn {
    font-size: 18px;
    padding: 8px 16px;
    min-width: 90px;
}

.btn.btn-primary {
    background-color: #447665;
    border: 1px solid green;
    color: white;
}


#todo-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#todo-list.make-red .todo-item {
    background-color: red;
}


#todo-list .todo-item {
    border: 1px solid black;
    background-color: rgb(71, 215, 172);
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-family: sans-serif;
}

.todo-item .title {
    font-weight: bold;
}

.todo-item .date {
    margin-top: 20px;
    text-align: right;
}