.container {
    border: 1px dotted black;
    width: 400px;
    padding: 18px;
    font-size: 18px;
}

.container h2 {
    margin-top: 0;
    margin-bottom: 36px;
}

.container .form-input {
    font-size: 18px;
    width: 100%;
}

.container .form-input-container {
    display: flex;
    gap: 18px;
}

.container .form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.actions {
    justify-content: center;
}

.btn {
    font-size: 18px;
    padding: 8px 16px;
    min-width: 90px;
}

.btn.btn-primary {
    background-color: #447665;
    border: 1px solid green;
    color: white;
}